kalendario-header
  button(ng-click="kal.prev()", ng-disabled="!kal.hasPrev()") &lt;
  .title {{ kal.activeMonth.label }}
  button(ng-click="kal.next()", ng-disabled="!kal.hasNext()") &gt;
  
kalendario-content
  kalendario-labels
    div(ng-repeat="l in kal.labels") {{ l[0] }}

  kalendario-week(ng-repeat="week in kal.activeMonth.weeks")
    button.day(
      ng-repeat="day in week",
      day="day",
      ng-disabled="disabled(day)",
      ng-click="click(day)",
      ng-class="{'highlighted': highlighted(day)}"
    ) {{ day.format('D') }}
