form(name="acard", layout="column", layout-margin)
  div.category(layout="column")
    label(for="ccategory") 
      span(ng-hide="card.category") Select card's category
      span(ng-show="card.category") Category
    select(name="ccategory", ng-model="card.category", ng-options="cat.$id as cat.name for cat in categories")
  
  .info
    .venue-info(ng-hide="manual || !card.category || card.entry.venue", layout="row")
      md-autocomplete(
        md-selected-item="ac.item",
        md-selected-item-change="setV(i)",
        md-search-text="ac.text",
        md-items="i in venues(ac.text)",
        md-items-text="i.description",
        placeholder="Search for a place to suggest",
        md-min-length="1",
        ng-disabled="!card.category",
        ng-hide="card.entry.venue"
      )  
        md-item-template 
          span(md-highlight-text="ac.text", md-highlight-flags="^i") {{ i.description }}
        md-not-found No Matches found for "{{ ac.text }}"
      md-button(ng-click="manual = true") Manual 
      
    div(ng-show="manual")
      md-input-container 
        label Name 
        input(type="text", ng-model="card.entry.venue.name")
        
      md-input-container
        label Address 
        input(type="text", ng-model="card.entry.venue.address")
      
      ng-md-icon(icon="cancel", ng-click="manual = false")
    
  div(ng-show="card.entry.venue && !manual", layout="row", layout-padding)
    ng-md-icon(icon="close", ng-click="card.entry.venue = null")
    div {{ card.entry.venue.name }}
    

  div(ng-if="card.entry.venue")
    md-input-container 
      label Note about {{ card.entry.venue.name }}
      textarea(ng-model="card.entry.note")

  md-button.delete(ng-click="doDelete()", layout="row") 
    ng-md-icon(icon="delete")
    span Delete
      
