h2 {{ entry.category.name }}

md-autocomplete(placeholder="Search for a place to suggest",
  md-items="i in entry.venues(entry.category.apiSource, ac.text)",
  md-search-text-change="ac.change()"
  md-selected-item="ac.item",
  md-selected-item-change="entry.setVenue(i)",
  md-search-text="ac.text",
  md-autofocus="true"
)
  span(md-highlight-text="ac.text", md-highlight-flags="^i") {{ i.name }}

section(ng-show="entry.entry.venue")
  h2 {{ entry.entry.venue.name }}
  h5 {{ entry.entry.venue.address }}
  md-button.md-warn(ng-click="entry.setVenue(null)"): small Change place

md-input-container(ng-show="entry.entry.venue")
  label Note for John
  textarea(ng-model="entry.entry.note")

p: md-button.md-primary.md-raised(ng-show="entry.entry.venue && entry.entry.note.length > 1", ng-click="entry.save()") ADD VENUE TO THE PLAN

small: a(ui-sref="^") Cancel adding