planmap(fill-height)  
  trigger(trigger-resize="100", react="model.reset()")
  venuehighlighter(items="model.highlightedItems", highlighted="model.highlighted", ng-hide="!model.highlighted")
  floating(ng-hide="model.highlighted"): simpleselect(selected="model.isCategorySelected(option)", 
    change="model.setCategory(option)", 
    options="model.existingCategories", 
    label="model.categoryName(option)", 
    null-title="All Plan"
    title="model.selectedCategory.name") 
  
  ui-gmap-google-map(center="model.center", zoom="model.zoom", options="model.mapOptions")
    
