header(layout="column", layout-align="center center")
  h4.md-primary Build the plan 
  p If you cannot find particular item in our database, add it manually. 
  
main.plan-making
  md-list
    md-list-item(ng-repeat="category in categories", layout="column")
      plan-category(
        plan="plan.$id",
        category="category",
        folded="visible != category.$id", 
        toggle="setVisible(id)",  
        answers="prepedAnswers[category.$id]",
        flex, layout-fill
      ) 
        
  .save-actions(layout="row")
    md-button.md-success.md-raised(flex, ng-click="submitPlan(plan)", ng-disabled="plan.ready")
      span(ng-hide="plan.ready") Submit Plan 
      span(ng-show="plan.ready") Plan submitted

    
